@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    .container {
      .index,
      .title,
      .content {
        color: #000000;
      }
      .icon {
        span {
          border-color: #000000;
        }
        svg {
          color: #000000;
        }
      }
    }
  }

  .container {
    display: grid;
    width: 100%;
    max-width: 600px;
    grid-template-areas:
      'index title'
      'content content';
    grid-template-columns: 20px 1fr;
    gap: 20px;
    align-items: center;
    padding: 16px;
    transition: color 0.3s ease;

    @include mx.respond-to('tablet') {
      grid-template-areas:
        'index title icon'
        'index content icon';
      grid-template-columns: 40px 1fr 64px;
      padding: 32px;
      gap: 20px 64px;
      max-width: 1000px;
    }
    @include mx.respond-to('desktop') {
      grid-template-areas: 'index title content icon';
      grid-template-columns: 40px 400px 1fr 64px;
      padding: 64px;
      max-width: 1200px;
    }

    .index,
    .title,
    .content {
      font-weight: normal;
      color: #ffffff;
    }

    .index {
      grid-area: index;
      font-size: 24px;

      @include mx.respond-to('tablet') {
        font-size: 32px;
      }
    }

    .title {
      grid-area: title;
      font-size: 24px;
      font-weight: bold;
      text-align: left;

      @include mx.respond-to('tablet') {
        font-size: 32px;
      }
      @include mx.respond-to('desktop') {
        font-size: 42px;
      }
    }

    .content {
      grid-area: content;
      font-size: 16px;
      text-align: left;

      @include mx.respond-to('tablet') {
        font-size: 18px;
      }
      @include mx.respond-to('desktop') {
        font-size: 20px;
      }
    }

    .icon {
      grid-area: icon;
      display: none;

      @include mx.respond-to('tablet') {
        display: block;
      }

      svg {
        color: #ffffff;
      }
    }
  }
}
