@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.about {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: fn.rem(64);
  color: #fff;

  @include mx.respond-to('tablet') {
    height: 100vh;
    align-items: center;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .word {
    font-family: ty.$font__main;
    font-size: fn.rem(24);
    margin: 0;
    margin-right: fn.rem(12);
    font-weight: 400;

    @include mx.respond-to('mobile') {
      font-size: fn.rem(28);
      margin-right: fn.rem(16);
    }

    @include mx.respond-to('tablet') {
      font-size: fn.rem(32);
      margin-right: fn.rem(20);
    }

    @include mx.respond-to('desktop') {
      font-size: fn.rem(36);
      margin-right: fn.rem(22);
    }
  }
  span {
    opacity: 0.1;
  }
}

.emoji {
  position: relative;
  width: 32px;
}

.lottie {
  position: absolute;
  top: -8px;
  left: -20px;
  width: 72px;
  height: 72px;
}

.word {
  [aria-label='developer'] .lottie {
    top: 0;
    left: -4px;
    width: 54px;
    height: 54px;
  }
  [aria-label='brain'] .lottie {
    top: -4px;
    left: -16px;
    width: 68px;
    height: 68px;
  }
  [aria-label='target'] .lottie {
    top: 0px;
    left: -8px;
    width: 54px;
    height: 54px;
  }
  [aria-label='tools'] .lottie {
    top: 8px;
    left: -2px;
    width: 42px;
    height: 42px;
  }
}
