@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  max-height: 600px;
  max-width: 600px;

  @include mx.respond-to('tablet') {
    max-width: 1000px;
    max-height: 800px;
    padding: 0 32px;
    flex-direction: row;
  }
  @include mx.respond-to('desktop') {
    max-width: 1200px;
    max-height: 900px;
    gap: 64px;
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(#1d212c 20%, transparent 100%);
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(transparent 0%, #1d212c 80%);
    pointer-events: none;
  }

  &__info {
    position: relative;
    z-index: 2;
    flex: 1;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    order: -1;

    @include mx.respond-to('tablet') {
      max-width: 470px;
      order: 0;
      flex: 1.4;
      gap: 20px;
    }
    @include mx.respond-to('desktop') {
      gap: 24px;
    }

    .title,
    p {
      color: #ffffff;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      line-height: normal;
      text-transform: uppercase;

      &__small {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;

        @include mx.respond-to('tablet') {
          font-size: 20px;
        }
        @include mx.respond-to('desktop') {
          font-size: 28px;
        }
      }

      &__gradient {
        background: cl.$color__linear-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @include mx.respond-to('tablet') {
        font-size: 28px;
      }
      @include mx.respond-to('desktop') {
        font-size: 38px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;

      @include mx.respond-to('tablet') {
        font-size: 18px;
      }
      @include mx.respond-to('desktop') {
        font-size: 20px;
      }
    }
  }
}

.gallery {
  position: relative;
  display: none;
  flex-direction: row;
  gap: 16px;
  width: 336px;
  transform: rotate(10deg);
  opacity: 0.8;

  @include mx.respond-to('tablet') {
    display: flex;
  }

  @include mx.respond-to('desktop') {
    gap: 30px;
    width: 496px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: -250px;

    &:nth-of-type(1) {
      margin-top: 250px;
    }
  }

  &__item {
    width: 160px;
    height: 120px;
    border-radius: 20px;
    position: relative;

    @include mx.respond-to('desktop') {
      width: 200px;
      height: 160px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      border-radius: 20px;
    }
  }
}
