@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 16px;
  color: #ffffff;
  @include mx.respond-to('tablet') {
    font-size: 18px;
  }
  @include mx.respond-to('desktop') {
    font-size: 20px;
  }
}

.textareaWrapper {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  font-size: 1rem;
  outline: none;
  resize: none;
  transition: all 0.3s ease;

  @include mx.respond-to('tablet') {
    min-height: 130px;
  }
  &:focus-visible {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.2);
  }
}

.placeholder {
  position: absolute;
  top: 12px;
  left: 15px;
  transform: translateY(0);
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  font-size: 1rem;
}
