@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.gradient_button {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: cl.$color__white;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  transition: color 0.4s ease;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;

  span {
    text-wrap: nowrap;
  }

  @include mx.respond-to('tablet') {
    font-size: 18px;
  }
  @include mx.respond-to('desktop') {
    font-size: 20px;
  }
}

.gradient_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 2px;
  background: cl.$color__linear-gradient;
  -webkit-mask:
    linear-gradient(cl.$color__white 0 0) content-box,
    linear-gradient(cl.$color__white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;

  transition: color 0.4s ease;
}
