@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.contact {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  max-width: 600px;

  @include mx.respond-to('tablet') {
    max-width: 1000px;
    max-height: 600px;
    padding: 0 32px;
  }
  @include mx.respond-to('desktop') {
    padding: 0;
    max-width: 1200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    max-width: 1200px;
    width: 100%;

    @include mx.respond-to('tablet') {
      flex-direction: row;
      gap: 24px;
    }
    @include mx.respond-to('desktop') {
      gap: 32px;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;

    @include mx.respond-to('tablet') {
      justify-content: center;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      background: cl.$color__linear-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include mx.respond-to('tablet') {
        font-size: 54px;
      }
      @include mx.respond-to('desktop') {
        font-size: 64px;
      }
    }

    p {
      font-size: 16px;
      line-height: normal;

      @include mx.respond-to('tablet') {
        font-size: 18px;
      }
      @include mx.respond-to('desktop') {
        font-size: 20px;
        line-height: 28px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    li {
      gap: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      font-size: 16px;

      @include mx.respond-to('tablet') {
        font-size: 18px;
      }
      @include mx.respond-to('desktop') {
        font-size: 20px;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.contact_form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include mx.respond-to('tablet') {
    justify-content: center;
  }

  form {
    border-radius: 20px;
    padding: 40px 20px;
    background-color: rgba($color: #8990c7, $alpha: 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    p {
      width: 100%;
      text-align: center;
      font-size: 16px;

      @include mx.respond-to('tablet') {
        font-size: 18px;
      }
      @include mx.respond-to('desktop') {
        font-size: 20px;
      }
    }

    span {
      width: 100%;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      color: #ba1a1a;
    }
  }
}
