@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.card {
  width: 100%;
  max-width: none;
  display: grid;
  grid-template-areas:
    'number title'
    'description description'
    'button button';
  grid-template-columns: 32px 1fr;
  gap: 12px;

  @include mx.respond-to('tablet') {
    grid-template-areas:
      'number title'
      'number description'
      'number button';
    grid-template-columns: 40px 1fr;
    gap: 20px;
  }
  @include mx.respond-to('desktop') {
    max-width: 570px;
    gap: 32px;
  }
}

.number {
  grid-area: number;
  font-size: 24px;
  background: cl.$color__linear-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include mx.respond-to('tablet') {
    font-size: 28px;
  }
  @include mx.respond-to('desktop') {
    font-size: 32px;
  }
}

.title {
  grid-area: title;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;

  @include mx.respond-to('tablet') {
    font-size: 28px;
  }
  @include mx.respond-to('desktop') {
    font-size: 32px;
  }
}

.description {
  grid-area: description;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;

  @include mx.respond-to('tablet') {
    font-size: 18px;
  }
  @include mx.respond-to('desktop') {
    font-size: 20px;
  }
}

.button {
  grid-area: button;
}
