@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/functions' as fn;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: min(fn.rem(980), 92vw);
  margin-inline: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.rem(24);

  @include mx.respond-to('tablet') {
    gap: fn.rem(32);
  }
}

.title {
  font-family: ty.$font__secondary;
  font-size: fn.rem(32);
  font-weight: 400;
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(54);
  }
  @include mx.respond-to('desktop') {
    font-size: fn.rem(64);
  }

  span {
    color: cl.$color__light-blue;
  }
}

.subtitle {
  margin: 0 auto;
  max-width: fn.rem(970);
  font-size: fn.rem(24);
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(30);
  }
  @include mx.respond-to('desktop') {
    font-size: fn.rem(36);
  }
}
