@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.skills {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 600px;

  @include mx.respond-to('tablet') {
    max-height: 700px;
  }
  @include mx.respond-to('desktop') {
    max-height: 800px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;

    @include mx.respond-to('tablet') {
      font-size: 54px;
    }
    @include mx.respond-to('desktop') {
      font-size: 64px;
    }

    span {
      font-weight: bold;
      background: cl.$color__linear-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 48px);
  grid-template-rows: repeat(6, 48px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 1000px;

  @include mx.respond-to('tablet') {
    grid-template-columns: repeat(9, 64px);
    grid-template-rows: repeat(5, 64px);
  }
  @include mx.respond-to('desktop') {
    grid-template-columns: repeat(9, 82px);
    grid-template-rows: repeat(5, 82px);
  }
}

.item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(137, 144, 199, 0.1);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

  @include mx.respond-to('tablet') {
    width: 64px;
    height: 64px;
  }
  @include mx.respond-to('desktop') {
    width: 82px;
    height: 82px;
  }

  svg {
    width: 24px;
    height: 24px;

    @include mx.respond-to('tablet') {
      width: 32px;
      height: 32px;
    }
    @include mx.respond-to('desktop') {
      width: 42px;
      height: 42px;
    }
  }
}

.large {
  width: 108px;
  height: 108px;
  grid-row: span 2;
  grid-column: span 2;

  @include mx.respond-to('tablet') {
    width: 144px;
    height: 144px;
  }
  @include mx.respond-to('desktop') {
    width: 180px;
    height: 180px;
  }

  svg {
    width: 48px;
    height: 48px;

    @include mx.respond-to('tablet') {
      width: 64px;
      height: 64px;
    }

    @include mx.respond-to('desktop') {
      width: 84px;
      height: 84px;
    }
  }
}

.empty {
  background: none;
  pointer-events: none;
}
