@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/functions' as fn;

.skills {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  touch-action: pan-y;
  background-color: #121212;

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-family: ty.$font__secondary;
  font-size: fn.rem(32);
  font-weight: 400;
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(54);
  }
  @include mx.respond-to('desktop') {
    font-size: fn.rem(64);
  }

  span {
    color: cl.$color__light-blue;
  }
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: fn.rem(970);
  font-size: fn.rem(24);
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(30);
  }
  @include mx.respond-to('desktop') {
    font-size: fn.rem(36);
  }
}

.skillCard {
  width: auto;
  height: 46px;
  position: absolute;
  background: #fff;

  border-radius: 12px;
  padding: 20px 32px;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 24px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  will-change: transform;
}
