@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 100px 0 100px;
  max-width: 600px;

  @include mx.respond-to('tablet') {
    max-width: 1000px;
    padding: 140px 0 100px;
    gap: 50px;
  }
  @include mx.respond-to('desktop') {
    max-width: 1200px;
    gap: 60px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;

    @include mx.respond-to('tablet') {
      font-size: 54px;
    }
    @include mx.respond-to('desktop') {
      font-size: 64px;
    }

    span {
      font-weight: bold;
      background: cl.$color__linear-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .list {
    width: 100%;
  }
}
