@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.nav {
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);

  top: 0;
  width: 100%;
  height: auto;

  @include mx.respond-to('tablet') {
    width: auto;
    height: auto;

    //background-color: rgba(0, 255, 255, 0.097);
    top: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;

  &.open {
    height: 100vh;
  }

  @include mx.respond-to('tablet') {
    overflow: visible;
    height: auto;
  }

  & .navigator:nth-child(2) {
    display: none;

    @include mx.respond-to('tablet') {
      display: block;
    }
  }

  & .navigator:nth-child(3) {
    display: none;

    @include mx.respond-to('tablet') {
      display: block;
    }
  }
}

.navigator {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 8px 32px;
  border-radius: 0;

  backdrop-filter: blur(80px);
  background-color: rgba(92, 92, 92, 0.09);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include mx.respond-to('tablet') {
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: auto;
    border-radius: 50px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
    list-style: none;

    @include mx.respond-to('tablet') {
      flex-direction: row;
      gap: 32px;
    }

    li {
      font-size: 16px;
      font-weight: 500;
      text-wrap: nowrap;

      a {
        color: cl.$color__white;
        text-decoration: none;

        &:hover,
        &.active {
          background: cl.$color__linear-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      svg {
        margin-top: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.social {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  gap: 64px !important;
}

.button {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;

  @include mx.respond-to('tablet') {
    display: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
