@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.header {
  position: relative;
  padding: fn.rems(0 16);
  display: grid;
  place-items: center;
  max-width: 100%;
  min-height: 100svh;
}

.inner {
  position: relative;
  z-index: 1;
}

.content {
  text-align: center;
  margin-inline: auto;
  max-width: fn.rem(920);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.rem(32);
}

.title {
  font-family: ty.$font__secondary;
  text-transform: uppercase;
  font-size: fn.rem(48);
  line-height: normal;
  font-weight: 800;
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(72);
  }

  @include mx.respond-to('desktop') {
    font-size: fn.rem(96);
  }

  span {
    color: cl.$color__light-blue;
  }
}

.description {
  margin-top: fn.rem(12);
  color: rgba(cl.$color__white, 0.88);
  font-size: fn.rem(16);
  line-height: 140%;
  max-width: fn.rem(520);
  letter-spacing: 0.02em;

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(20);
    font-size: fn.rem(20);
  }
}

.buttons {
  margin-top: fn.rem(24);
  display: flex;
  gap: fn.rem(16);
  justify-content: center;
  flex-wrap: wrap;

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(32);
  }
}

.button {
  &:focus-visible {
    outline: fn.rem(2) solid cl.$color__light-blue;
    outline-offset: fn.rem(2);
  }
}

.brands {
  list-style: none;
  position: absolute;
  inset: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.brandItem {
  position: absolute;
  opacity: 0;
}

.brand {
  display: block;
}

.brandItem:nth-child(1) {
  /* storybook */
  left: 12%;
  top: 65%;
}

.brandItem:nth-child(2) {
  /* chromatic */
  right: 50%;
  top: 80%;
}
.brandItem:nth-child(3) {
  /* nextjs */
  right: 50%;
  top: 10%;
}
.brandItem:nth-child(4) {
  /* cypress */
  left: 20%;
  top: 10%;
}
.brandItem:nth-child(5) {
  /* react */
  right: 10%;
  top: 10%;
}
.brandItem:nth-child(6) {
  /* typescript */
  right: 20%;
  top: 60%;
}
