$color__white: #ffffff;
$color__black: #000000;

// Colors
$color__dark-slate: #1d212c;
$color__pink-purple: #7779e7;
$color__violet-blue: #9bcffc;
$color__sky-blue: #9bcffc;

$color__linear-gradient: linear-gradient(
  to right,
  $color__pink-purple 0%,
  $color__violet-blue 100%
);
