$color__white: #ffffff;
$color__black: #000000;

// Colors
$color__dark-slate: #1d212c;
$color__pink-purple: #7779e7;
$color__violet-blue: #9bcffc;
$color__sky-blue: #9bcffc;

// Additional palette
$color__accent: #86a7ff;
$color__accent-light: #88a0ff;
$color__cornflower-blue: #6f85ff;
$color__periwinkle: #d8dcff;
$color__dark-indigo: #2b2f55;
$color__dark-charcoal: #11131a;

$color__linear-gradient: linear-gradient(
  to right,
  $color__pink-purple 0%,
  $color__violet-blue 100%
);
