$color__white: #ffffff;
$color__black: #000000;

// Colors
$color__dark-slate: #1d212c;
$color__pink-purple: #7779e7;
$color__violet-blue: #9bcffc;
$color__sky-blue: #9bcffc;
$color__light-blue: #86a7ff;
$color__medium-blue: #88a0ff;
$color__timeline-blue: #6f85ff;
$color__navy-blue: #2b2f55;
$color__very-light-blue: #d8dcff;
$color__dark-blue: #11131a;

$color__linear-gradient: linear-gradient(
  to right,
  $color__pink-purple 0%,
  $color__violet-blue 100%
);
