@use '@/styles/variables/colors' as cl;

.container {
  --blur: 0;
  --spread: 20;
  --start: 0;
  --active: 0;
  --glowingeffect-border-width: 1px;
  --repeating-conic-gradient-times: 5;

  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.blur {
    filter: blur(var(--blur));
  }

  &.disabled {
    display: none !important;
  }
}

.border {
  pointer-events: none;
  position: absolute;
  inset: -1px;
  display: none;
  border-radius: inherit;
  border: 1px solid transparent;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.glow {
    opacity: 1;
  }

  &.white {
    border-color: white;
  }

  &.disabled {
    display: block !important;
  }
}

.glowEffect {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    inset: calc(0 * var(--glowingeffect-border-width));
    border: var(--glowingeffect-border-width) solid transparent;
    border-radius: inherit;
    background:
      radial-gradient(
        circle,
        #{cl.$color__pink-purple} 10%,
        #{cl.$color__pink-purple}00 25%
      ),
      radial-gradient(
        circle at 30% 30%,
        #{cl.$color__violet-blue} 8%,
        #{cl.$color__violet-blue}00 20%
      ),
      radial-gradient(
        circle at 70% 70%,
        #{cl.$color__sky-blue} 12%,
        #{cl.$color__sky-blue}00 30%
      ),
      repeating-conic-gradient(
        from 236.84deg at 50% 50%,
        #{cl.$color__pink-purple} 0%,
        #{cl.$color__violet-blue}
          calc(33.33% / var(--repeating-conic-gradient-times)),
        #{cl.$color__sky-blue}
          calc(66.66% / var(--repeating-conic-gradient-times)),
        #{cl.$color__pink-purple}
          calc(100% / var(--repeating-conic-gradient-times))
      );
    background-attachment: fixed;
    opacity: 1;
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
    mask-image:
      linear-gradient(#0000, #0000),
      conic-gradient(
        from calc((var(--start) - var(--spread)) * 1deg),
        #00000000 0deg,
        #fff,
        #00000000 calc(var(--spread) * 2deg)
      );
  }
}
