@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/functions' as fn;

.section {
  color: rgba(cl.$color__white, 0.85);
  padding: clamp(fn.rem(48), 8vw, fn.rem(96)) 0;
  height: 100%;
  max-height: 100%;
}

.container {
  width: min(fn.rem(1180), 92vw);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: fn.rem(100);
}


.title {
  text-align: center;
  font-family: ty.$font__secondary;
  font-size: fn.rem(32);
  font-weight: 400;
  color: cl.$color__white;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(54);
  }
  @include mx.respond-to('desktop') {
    font-size: fn.rem(64);
  }

  span {
    color: cl.$color__light-blue;
  }
}

.timeline {
  position: relative;
  padding-left: clamp(fn.rem(72), 9vw, fn.rem(120));

  &::before {
    content: '';
    position: absolute;
    left: clamp(fn.rem(32), 5vw, fn.rem(52));
    top: fn.rem(12);
    bottom: 0;
    width: fn.rem(2);
    background: linear-gradient(180deg, cl.$color__timeline-blue, rgba(cl.$color__timeline-blue, 0.25));
    opacity: 0.9;
  }
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: fn.rem(24);
  padding-bottom: fn.rem(56);

  @include mx.respond-to('tablet') {
    grid-template-columns: clamp(fn.rem(180), 24vw, fn.rem(280)) 1fr;
    gap: clamp(fn.rem(24), 5vw, fn.rem(64));
    padding-bottom: clamp(fn.rem(56), 10vw, fn.rem(140));
  }
}

.marker {
  position: absolute;
  left: calc(clamp(fn.rem(32), 5vw, fn.rem(52)) - fn.rem(7));
  top: fn.rem(8);
  width: fn.rem(14);
  height: fn.rem(14);
  border-radius: 50%;
  background: cl.$color__medium-blue;
  box-shadow: 0 0 0 fn.rem(4) rgba(cl.$color__light-blue, 0.18);
  border: fn.rem(3) solid cl.$color__navy-blue;
}

.left {
  text-align: left;
}

.period {
  font-family: ty.$font__secondary;
  font-size: fn.rem(32);
  text-transform: uppercase;
  letter-spacing: fn.rem(-0.32);
  color: cl.$color__very-light-blue;
  margin: 0 0 fn.rem(6);
  color: cl.$color__white;
}

.company {
  margin: 0;
  color: cl.$color__white;
  font-size: fn.rem(32);
  font-weight: 500;
}

.right {
  max-width: fn.rem(720);
}

.paragraph {
  margin: 0 0 fn.rem(16);
  color: cl.$color__white;
  font-size: fn.rem(20);
  line-height: fn.rem(28);
}

.gallery {
  margin-top: clamp(fn.rem(12), 2vw, fn.rem(20));
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(fn.rem(12), 2vw, fn.rem(20));
}

.thumb img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: fn.rem(24);
  outline: fn.rem(1) solid rgba(cl.$color__white, 0.06);
  background: cl.$color__dark-blue;
}
