@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 16px;
  color: #ffffff;

  @include mx.respond-to('tablet') {
    font-size: 18px;
  }
  @include mx.respond-to('desktop') {
    font-size: 20px;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 50px;
  background-color: #1e1e2f;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px 15px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  background-image:
    linear-gradient(#1e1e2f, #1e1e2f), cl.$color__linear-gradient;
  background-origin: border-box;
  background-clip: padding-box, border-box;

  @include mx.respond-to('tablet') {
    height: 60px;
  }

  &:focus-visible {
    box-shadow: 0 0 8px 1px #7779e7;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  font-size: 1rem;
  white-space: nowrap;
}
