@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.footer {
  position: relative;
  isolation: isolate;
  width: 100%;
  padding: 32px 16px;
  overflow: hidden;

  height: 100%;
  max-height: 100%;

  @include mx.respond-to('tablet') {
    padding: 40px 24px;
  }
  @include mx.respond-to('desktop') {
    padding: 48px 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  text-align: center;

  @include mx.respond-to('tablet') {
    gap: 20px;
  }
}

.copyrightText {
  margin: 0;
  color: cl.$color__white;
  font-size: 14px;
  line-height: 1.4;

  @include mx.respond-to('tablet') {
    font-size: 15px;
  }
}

.navMenu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include mx.respond-to('tablet') {
      gap: 28px;
    }

    li {
      .linkButton {
        background: none;
        border: none;
        color: cl.$color__white;
        cursor: pointer;
        padding: 0;
        font: inherit;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.4;
        transition: all 0.3s ease;

        &:hover {
          background: cl.$color__linear-gradient;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #010101f7 50%, #010101e4 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.bgImage {
  object-fit: contain;
  object-position: center bottom;
  width: 100%;
  height: 100%;
}
